################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/db/vector_DB.py
